<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NGL.Integration.CSharpSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <NGL.Integration.CSharpSample.Properties.Settings>
            <setting name="NGL_Integration_CSharpSample_NGLBookData_BookObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/BookObject.asmx</value>
            </setting>
            <setting name="NGL_Integration_CSharpSample_NGLCompanyData_CompanyObject" serializeAs="String">
                <value>http://nglwsdev704.nextgeneration.com/companyobject.asmx</value>
            </setting>
            <setting name="NGL_Integration_CSharpSample_NGLCarrierData_CarrierObject" serializeAs="String">
                <value>http://nglwsdev704.nextgeneration.com/CarrierObject.asmx</value>
            </setting>
            <setting name="NGL_Integration_CSharpSample_NGLLaneData_LaneObject" serializeAs="String">
                <value>http://nglwsdev704.nextgeneration.com/LaneObject.asmx</value>
            </setting>
            <setting name="NGL_Integration_CSharpSample_NGLPickListData_PickListObject" serializeAs="String">
                <value>http://nglwsdev704.nextgeneration.com/PickListObject.asmx</value>
            </setting>
            <setting name="NGL_Integration_CSharpSample_NGLAPExportData_APExportObject" serializeAs="String">
                <value>http://nglwsdev704.nextgeneration.com/apexportobject.asmx</value>
            </setting>
            <setting name="NGL_Integration_CSharpSample_NGLBookData6044m_BookObject" serializeAs="String">
                <value>http://localhost:55503/bookobject.asmx</value>
            </setting>
            <setting name="NGL_Integration_CSharpSample_DTMSIntegration_DTMSERPIntegration" serializeAs="String">
                <value>http://localhost:44320/ws/DTMSERPIntegration.asmx</value>
            </setting>
        </NGL.Integration.CSharpSample.Properties.Settings>
    </applicationSettings>
</configuration>
