<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NGL.FM.NAVIntegrationTester.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <NGL.FM.NAVIntegrationTester.My.MySettings>
            <setting name="ERPSettingsFile" serializeAs="String">
                <value>C:\Data\IntegrationServicesData\NAVServiceSettings.xml</value>
            </setting>
            <setting name="NGL_FM_NAVIntegrationTester_NAVService_DynamicsTMSWebServices"
                serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v2.0/2518be7e-c933-4905-af64-24ad0157202f/Production/WS/CRONUS%20USA%2C%20Inc./Codeunit/DynamicsTMSWebServices</value>
            </setting>
        </NGL.FM.NAVIntegrationTester.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
