<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="GPWebService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://NGLGP2013R2:48620/Dynamics/GPService/GPService"
                binding="wsHttpBinding" bindingConfiguration="GPWebService"
                contract="svcDynamicsGP.DynamicsGP" name="GPWebService">
                <identity>
                    <userPrincipalName value="SSRSReports@ngl.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>