<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NGL.FM.CMDLine.FuelIndexUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <NGL.FM.CMDLine.FuelIndexUpdater.My.MySettings>
            <setting name="EIADieselPricesURL" serializeAs="String">
                <value>http://tonto.eia.doe.gov/oog/info/wohdp/diesel_detail_report_combined.asp</value>
            </setting>
            <setting name="GetFuelByXLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EIADieselPricesURL_XLS" serializeAs="String">
                <value>http://www.eia.gov/petroleum/gasdiesel/xls/psw18vwall.xls</value>
            </setting>
            <setting name="WorkSheetName" serializeAs="String">
                <value>Data 1</value>
            </setting>
            <setting name="WklyUSKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_NUS_DPG</value>
            </setting>
            <setting name="WklyEastCoastKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R10_DPG</value>
            </setting>
            <setting name="WklyNewEnglandKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R1X_DPG</value>
            </setting>
            <setting name="WklyCentralAtlanticKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R1Y_DPG</value>
            </setting>
            <setting name="WklyLowerAtlanticKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R1Z_DPG</value>
            </setting>
            <setting name="WklyMidWestKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R20_DPG</value>
            </setting>
            <setting name="WklyGulfCoastKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R30_DPG</value>
            </setting>
            <setting name="WklyRockeyMTNKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R40_DPG</value>
            </setting>
            <setting name="WklyWestCoastKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_R50_DPG</value>
            </setting>
            <setting name="WklkCaliforniaKey" serializeAs="String">
                <value>EMD_EPD2D_PTE_SCA_DPG</value>
            </setting>
            <setting name="SourceKeyStr" serializeAs="String">
                <value>Sourcekey</value>
            </setting>
            <setting name="GetWeeksBack" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AdminEmail" serializeAs="String">
                <value>info@maxximu.com</value>
            </setting>
            <setting name="GroupEmail" serializeAs="String">
                <value>info@maxximu.com</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>system@nextgeneration.com</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SaveOldLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepLogDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="GlobalFuelIndexUpdateEmailNotification" serializeAs="String">
                <value>info@maxximu.com</value>
            </setting>
            <setting name="GlobalFuelIndexUpdateEmailNotificationValue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Use48Mode" serializeAs="String">
                <value>True</value>
            </setting>
        </NGL.FM.CMDLine.FuelIndexUpdater.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
