<div id="wndCarCont">
    <a id="focusCancelCont" href="#"></a>
    <div>
        <div style="padding: 0px 10px 0px 10px;">

            <div>
                <div id="lblContCarrier"></div>
                <div id="lblContLE"></div>
            </div>

            <div style="padding-bottom: 5px; padding-top: 5px;">
                <input type="checkbox" id="chkCarContDefault" ><label class="k-checkbox-label" for="chkCarContDefault"><strong>Default</strong></label>
            </div>
            <div style="padding-bottom: 5px; padding-top: 5px;">
                <input type="checkbox" id="chkCarContAMS" ><label class="k-checkbox-label" for="chkCarContAMS"><strong>Scheduling Contact</strong></label>
            </div>

            <div style="float: left;">

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Name</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtCarContName" maxlength="25" style="width:200px;" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Title</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtCarContTitle" maxlength="25" style="width:200px;" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Phone</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtCarContPhone" maxlength="15" style="width:200px;" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Phone Ext</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtCarContPhoneExt" maxlength="5" style="width:100px;" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Fax</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtCarContFax" maxlength="15" style="width:200px;" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">800</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtCarCont800" maxlength="15" style="width:200px;" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Email</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtCarContEmail" maxlength="255" style="width:200px;" /></td>
                        </tr>
                    </table>
                </div>

            </div>

            <input id="txtCarrierContControl" type="hidden" />
            <input id="txtCarContCarrierControl" type="hidden" />

            <div class="tblResponsive-wrap" style="float: none;">&nbsp;</div>

        </div>
    </div>
</div>