
<div id="winNewPageDetail">
    <div style="margin-left:10%; margin-right:10%">
        <input id="txtNewPageDetPageControl" type="hidden" />
        <input id="txtNewPageDetTagIDReference" type="hidden" />
        <table id="NewPageDetDataTypes" style="border: none; ">
            <tbody class="data-container">
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Container/Parent</td>
                    <td class="data-entry-label">Element Type</td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-value">
                        <input id="ddlNewPageDetParentID" type="text" class="stopInfo" />
                        <input id="txtNewPageDetGroupTypeControl" type="hidden" />
                        <input id="txtNewPageDetParentID" type="hidden" />
                    </td>
                    <td class="data-entry-value">
                        <input id="ddlNewPageDetGroupSubTypeControl" type="text" class="stopInfo" />
                        <input id="txtNewPageDetGroupSubTypeControl" type="hidden"/>
                    </td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Data Table or View</td>
                    <td class="data-entry-label">Data Field</td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-value">
                        <input id="comboNewPageDetDataElements" type="text" class="stopInfo" />
                        <input id="txtNewPageDetDataElmtControl" type="hidden" />
                    </td>
                    <td class="data-entry-value">
                        <input id="comboNewPageDetElementFields" type="text" class="stopInfo" />
                        <input id="txtNewPageDetElmtFieldControl" type="hidden" />
                    </td>
                </tr>
            </tbody>
        </table>        
        <hr />
        <table id="NewPageDetDataElements" style="border: none; ">
            <tbody class="data-container">
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Name</td>
                    <td class="data-entry-value"><input id="txtNewPageDetName" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Description</td>
                    <td class="data-entry-value"><input id="txtNewPageDetDesc" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Caption</td>
                    <td class="data-entry-value"><input id="txtNewPageDetCaption" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Localized</td>
                    <td class="data-entry-value"><input id="txtNewPageDetCaptionLocal" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Sequence #</td>
                    <td class="data-entry-value"><input id="txtNewPageDetSequenceNo" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Edit Wnd Seq #</td>
                    <td class="data-entry-value"><input id="txtNewPageDetEditWndSeqNo" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Add Wnd Seq #</td>
                    <td class="data-entry-value"><input id="txtNewPageDetAddWndSeqNo" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Width</td>
                    <td class="data-entry-value"><input id="txtNewPageDetWidth" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">CSS Class</td>
                    <td class="data-entry-value"><input id="txtNewPageDetCSSClass" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Style or Attributes</td>
                    <td class="data-entry-value"><input id="txtNewPageDetAttributes" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">API Controller</td>
                    <td class="data-entry-value"><input id="txtNewPageDetAPIReference" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">API Filter ID</td>
                    <td class="data-entry-value"><input id="txtNewPageDetAPIFilterID" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">API Sort Key</td>
                    <td class="data-entry-value"><input id="txtNewPageDetAPISortKey" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Widget Action</td>
                    <td class="data-entry-value"><input id="txtNewPageDetWidgetAction" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Widget Action Keys</td>
                    <td class="data-entry-value"><input id="txtNewPageDetWidgetActionKey" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label" style="width:100px; max-width:100px;"><label id="pgMetaData">Meta Data</label></td>
                    <td class="data-entry-value"><textarea id="txtNewPageDetMetaData" rows="5" cols="5" style="height:200px; width:auto;" aria-label="editor"></textarea></td>
                </tr>
            </tbody>
        </table>
        <label id="lblPageDetTagIDReference" class="stopInfo" style="display:none;"></label>
    </div>
</div>
