<div id="winNewPage">
    <div style="margin-left:10%; margin-right:10%">
        
        <input id="txtPageControl" type="hidden" />
        <input id="txtPageFormControl" type="hidden" />
        <input id="txtPageFormName" type="hidden" />
        <table style="border: none; ">
            <tbody class="data-container">
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Page Name</td>
                    <td class="data-entry-value"><input id="txtPageName" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Description</td>
                    <td class="data-entry-value"><input id="txtPageDesc" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Role Center Form</td>
                    <td class="data-entry-value"><input id="comboFormName" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Form Desc</td>
                    <td class="data-entry-value"><input id="txtPageFormDesc" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Caption</td>
                    <td class="data-entry-value"><input id="txtPageCaption" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Localized</td>
                    <td class="data-entry-value"><input id="txtPageCaptionLocal" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Refresh Seconds</td>
                    <td class="data-entry-value"><input id="txtPageAutoRefreshSec" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Uses Database</td>
                    <td class="data-entry-value"><input id="txtPageDataSource" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Can Sort</td>
                    <td class="data-entry-value"><input id="txtPageSortable" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Has Paging</td>
                    <td class="data-entry-value"><input id="txtPagePageable" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Can Group</td>
                    <td class="data-entry-value"><input id="txtPageGroupable" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Can Edit</td>
                    <td class="data-entry-value"><input id="txtPageEditable" type="text" class="stopInfo" /></td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Data Table</td>
                    <td class="data-entry-value">
                        <input id="comboPageDataElements" type="text" class="stopInfo" />
                        <input id="txtPageDataElmtControl" type="hidden"  />
                    </td>
                </tr>
                <tr class="data-template" style="border: none;">
                    <td class="data-entry-label">Data Element</td>
                    <td class="data-entry-value">
                        <input id="comboPageElementFields" type="text" class="stopInfo" />
                        <input id="txtPageElmtFieldControl" type="hidden"  />
                    </td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>
