<table style="border: none; ">    
    <tbody class="data-container">
        <tr class="data-template" style="border: none;" >
            <td class="data-entry-label"></td>
            <td class="data-entry-value"></td>
        </tr>
    </tbody>
</table>

<!--<table style="border: none; width: 249px;">
    <tr style="border: none;" >
        <td style="border: none;">User Name:</td>
        <td style="border: none;"><input id="txtNGLUserName" /></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Password:</td>
        <td style="border: none;"><input id="txtNGLPass" /></td>
    </tr>
</table>-->
