<!--Added By SN on 2/19/18 DocumentTypeAddExample -->
<div id="wndAddDocumentType">
    <a id="focusCancel" href="#"></a>
    <div>
        <div id="EditDiv" style="padding: 0px 10px 10px 10px;">

            <input id="txtDocumentTypeControl" type="hidden" />

            <div style="float: left;">

                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Document Type Name</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <input id="txtDocTypeName" maxlength="50" style="width:200px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                               
                                <span id="name-validation" class="hide-display" style="color: red;position: relative;bottom: 5px;">Document Name Can't be empty</span>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Document Type Description</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><textarea id="txtDocTypeDescription" rows="6" cols="20" maxlength="255" style="width: 200px;resize:none" ></textarea></td>
                        </tr>
                    </table>
                </div>
        
            </div>


            <div class="tblResponsive-wrap" style="float: none;">&nbsp;</div>


        </div>
    </div>
</div>