<!--Added By LVV on 2/12/18 AnimalAddExample -->
<div id="wndAddMasterDoc">
    <a id="focusCancel" href="#"></a>
    <div>
        <div id="EditDiv" style="padding: 0px 10px 10px 10px;">

            <input id="txtMasterDocControl" type="hidden" />
            <input id="txtMasterDocCreateDate" type="hidden" />
            <input id="txtMasterDocCreateUser" type="hidden" />
            <input id="txtMasterDocModDate" type="hidden" />
            <input id="txtMasterDocModUser" type="hidden" />
            <input id="txtMasterDocModUpdated" type="hidden" />
            <input id="lblMasterDocEDIName" type="hidden" />

            <div style="float: left;">

                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Document Name</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <input id="ddlMasterDocEDITControl" maxlength="50" style="width:200px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">

                                <span id="name-validation" class="hide-display" style="color: red;position: relative;bottom: 5px;">Select Document</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Transaction Direction</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <input id="ddlMasterDocInbound" maxlength="50" style="width:200px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Publish</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <input id="ddlMasterDocPublished" maxlength="50" style="width:200px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin-top:10px;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Disabled</td>
                            <td class="tblResponsive-top">
                                <input id="chkMasterDocDisabled" type="checkbox" style="margin-left:50px;" />
                            </td>
                        </tr>

                    </table>
                </div> 

            </div>

            <div class="tblResponsive-wrap" style="float: none;">&nbsp;</div>

        </div>
    </div>
</div>