<div id="wndExtFBDataEntry">
    <a id="focusCancelFB" href="#"></a>
    <div>

        <div style="float: left;">

            <!--<div style="float: left;margin-bottom:10px;">
                <div id="divAuditFailMsg" class="k-block k-error-colored"></div>
            </div>-->
            <div style="margin-bottom:10px;">
                <div id="divAuditFailMsg" class="k-block k-error-colored"></div>
            </div>

            <div>
                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Invoice Number</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtInvoiceNumber" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Load Shipped Wgt</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtBookFinAPActWgt" type="number" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">BOL Number</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtBookCarrBLNumber" /></td>
                        </tr>
                    </table>
                </div>

                <div class="tblResponsive-wrap" style="float:none;"></div>
            </div>

            <div>
                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Line Haul</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtLineHaul" type="number" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Fuel</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtTotalFuel" type="number" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Total Accessorial</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtTotalFees" type="number" /></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left;">
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Invoice Amount</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><input id="txtTotalCost" type="number" /></td>
                        </tr>
                    </table>
                </div>



                <div class="tblResponsive-wrap" style="float:none;">&nbsp;</div>
            </div>
        </div>

        <div class="tblResponsive-wrap" style="float:none;">&nbsp;</div>
        <div style="float: left;" class="k-block k-info-colored">
            <span id="spwndExtFBEditMsg">Enter Accessorials Below. All accessorials entered will require approval and will be marked pending until approved.</span>
        </div>

        <div class="tblResponsive-wrap" style="float:none;">&nbsp;</div>


        <div id="FBSHIDGrid"></div>
    </div>

    <input id="txtLastStopComp" type="hidden" />
    <input id="txtLastStopCompLE" type="hidden" />
    <input id="txtLastStopCarrier" type="hidden" />
</div>