<div id='HelpWindow'>
    <div id='winCont'></div>
    <div id='EditCont'>
        <div id='E4Div'>
            <span id="ExpandE4" style="display:none;"><a onclick="expandE4();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-down"></span></a></span>
            <span id="CollapseE4" style="display:normal;"><a onclick="collapseE4();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-up"></span></a></span>
            <span id='txtE4' style='font-size:small; font-weight:bold'></span>&nbsp;&nbsp;<br />
            <input id='txtE4PHCont' type='hidden' />
            <span id='spEditor4'><textarea id='editor4'></textarea></span>
        </div>
        <div id='E3Div'>
            <span id="ExpandE3" style="display:none;"><a onclick="expandE3();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-down"></span></a></span>
            <span id="CollapseE3" style="display:normal;"><a onclick="collapseE3();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-up"></span></a></span>
            <span id='txtE3' style='font-size:small; font-weight:bold'></span>&nbsp;&nbsp;<br />
            <input id='txtE3PHCont' type='hidden' />
            <span id='spEditor3'><textarea id='editor3'></textarea></span>
        </div>
        <div id='E2Div'>           
            <span id="ExpandE2" style="display:none;"><a onclick="expandE2();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-down"></span></a></span>
            <span id="CollapseE2" style="display:normal;"><a onclick="collapseE2();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-up"></span></a></span>
            <span id='txtE2' style='font-size:small; font-weight:bold'></span>&nbsp;&nbsp;<br />
            <input id='txtE2PHCont' type='hidden' />
            <span id='spEditor2'><textarea id='editor2'></textarea></span>
        </div>
        <div id='E1Div'>
            <span id="ExpandE1" style="display:none;"><a onclick="expandE1();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-down"></span></a></span>
            <span id="CollapseE1" style="display:normal;"><a onclick="collapseE1();"><span style="font-size:small;font-weight:bold;" class="k-icon k-i-chevron-up"></span></a></span>         
            <span id='txtE1' style='font-size:small; font-weight:bold'></span>&nbsp;&nbsp;<br />
            <input id='txtE1PHCont' type='hidden' />
            <span id='spEditor1'><textarea id='editor1'></textarea></span>
        </div>



    </div>
</div>