<!--Added By LVV on 9/16/20 for v-8.3.0.001 - Optimizer 365-->
<div id="wndOptimizer">
    <div>
        <a id="focusCancel" href="#"></a>
        <p>Running Optimizer...</p>

        <div id="divStep1"></div>
        <div id="divStep2"></div>
        <div id="divStep3"></div>
        <div id="divStep4">
            <p id="s4Hdr"></p>
            <p id="s4Sub"></p>
            <div id="prgStep4"></div>
        </div>
        <div id="divStep5"></div>
        <div id="divStep6">
            <p id="s6Hdr"></p>
            <p id="s6Sub"></p>
            <div id="prgStep6"></div>
        </div>
        <div id="divStep7">
            <p>Running optimizer step 7 of 12<span class="k-icon k-i-check-circle" style="color:green;"></span></p>
        </div>
        <div id="divStep8">
            <p>Reading optimized solution step 8 of 12<span class="k-icon k-i-check-circle" style="color:green;"></span></p>
        </div>
        <div id="divStep9">
            <p>Saving optimized results to database step 9 of 12</p>
            <!--Saving updated optimized stop data record 1 of 36
                Saving updated optimized stop data record 2 of 36
                Saving updated optimized stop data record 3 of 36
                Saving updated optimized stop data record 4 of 36
                Saving updated optimized stop data record 5 of 36
                Saving updated optimized stop data record 6 of 36
                Saving updated optimized stop data record 7 of 36
                Saving updated optimized stop data record 8 of 36
                Saving updated optimized stop data record 9 of 36
                Saving updated optimized stop data record 10 of 36
                Saving updated optimized stop data record 11 of 36
                Saving updated optimized stop data record 12 of 36
                Saving updated optimized stop data record 13 of 36
                Saving updated optimized stop data record 14 of 36
                Saving updated optimized stop data record 15 of 36
                Saving updated optimized stop data record 16 of 36
                Saving updated optimized stop data record 17 of 36
                Saving updated optimized stop data record 18 of 36
                Saving updated optimized stop data record 19 of 36
                Saving updated optimized stop data record 20 of 36
                Saving updated optimized stop data record 21 of 36
                Saving updated optimized stop data record 22 of 36
                Saving updated optimized stop data record 23 of 36
                Saving updated optimized stop data record 24 of 36
                Saving updated optimized stop data record 25 of 36
                Saving updated optimized stop data record 26 of 36
                Saving updated optimized stop data record 27 of 36
                Saving updated optimized stop data record 28 of 36
                Saving updated optimized stop data record 29 of 36
                Saving updated optimized stop data record 30 of 36
                Saving updated optimized stop data record 31 of 36
                Saving updated optimized stop data record 32 of 36
                Saving updated optimized stop data record 33 of 36
                Saving updated optimized stop data record 34 of 36
                Saving updated optimized stop data record 35 of 36
                Saving updated optimized stop data record 36 of 36-->
        </div>
        <div id="divStep10">
            <p>Running PC Miler to update the street level information for optimized solution step 10 of 12</p>
            <!--Resynchronizing stop 1 of 36
            Resynchronizing stop 2 of 36
            Resynchronizing stop 3 of 36
            Resynchronizing stop 4 of 36
            Resynchronizing stop 5 of 36
            Resynchronizing stop 6 of 36
            Resynchronizing stop 7 of 36
            Resynchronizing stop 8 of 36
            Resynchronizing stop 9 of 36
            Resynchronizing stop 10 of 36
            Resynchronizing stop 11 of 36
            Resynchronizing stop 12 of 36
            Resynchronizing stop 13 of 36
            Resynchronizing stop 14 of 36
            Resynchronizing stop 15 of 36
            Resynchronizing stop 16 of 36
            Resynchronizing stop 17 of 36
            Resynchronizing stop 18 of 36
            Resynchronizing stop 19 of 36
            Resynchronizing stop 20 of 36
            Resynchronizing stop 21 of 36
            Resynchronizing stop 22 of 36
            Resynchronizing stop 23 of 36
            Resynchronizing stop 24 of 36
            Resynchronizing stop 25 of 36
            Resynchronizing stop 26 of 36
            Resynchronizing stop 27 of 36
            Resynchronizing stop 28 of 36
            Resynchronizing stop 29 of 36
            Resynchronizing stop 30 of 36
            Resynchronizing stop 31 of 36
            Resynchronizing stop 32 of 36
            Resynchronizing stop 33 of 36
            Resynchronizing stop 34 of 36
            Resynchronizing stop 35 of 36
            Resynchronizing stop 36 of 36-->
        </div>
        <div id="divStep11">
            <p>Assigning carriers and allocating costs step 11 of 12</p>
            <!--Assigning carriers and allocating costs for truck 1 of 36
            Assigning carriers and allocating costs for truck 2 of 36
            Assigning carriers and allocating costs for truck 3 of 36
            Assigning carriers and allocating costs for truck 4 of 36
            Assigning carriers and allocating costs for truck 5 of 36
            Assigning carriers and allocating costs for truck 6 of 36
            Assigning carriers and allocating costs for truck 7 of 36
            Assigning carriers and allocating costs for truck 8 of 36
            Assigning carriers and allocating costs for truck 9 of 36
            Assigning carriers and allocating costs for truck 10 of 36
            Assigning carriers and allocating costs for truck 11 of 36
            Assigning carriers and allocating costs for truck 12 of 36
            Assigning carriers and allocating costs for truck 13 of 36
            Assigning carriers and allocating costs for truck 14 of 36
            Assigning carriers and allocating costs for truck 15 of 36
            Assigning carriers and allocating costs for truck 16 of 36
            Assigning carriers and allocating costs for truck 17 of 36
            Assigning carriers and allocating costs for truck 18 of 36
            Assigning carriers and allocating costs for truck 19 of 36
            Assigning carriers and allocating costs for truck 20 of 36
            Assigning carriers and allocating costs for truck 21 of 36
            Assigning carriers and allocating costs for truck 22 of 36
            Assigning carriers and allocating costs for truck 23 of 36
            Assigning carriers and allocating costs for truck 24 of 36
            Assigning carriers and allocating costs for truck 25 of 36
            Assigning carriers and allocating costs for truck 26 of 36
            Assigning carriers and allocating costs for truck 27 of 36
            Assigning carriers and allocating costs for truck 28 of 36
            Assigning carriers and allocating costs for truck 29 of 36
            Assigning carriers and allocating costs for truck 30 of 36
            Assigning carriers and allocating costs for truck 31 of 36
            Assigning carriers and allocating costs for truck 32 of 36
            Assigning carriers and allocating costs for truck 33 of 36
            Assigning carriers and allocating costs for truck 34 of 36
            Assigning carriers and allocating costs for truck 35 of 36
            Assigning carriers and allocating costs for truck 36 of 36-->
        </div>


    </div>
</div>

<script>

    var wndOptimizer = kendo.ui.Window;

    var blnOptIsRunning = false;
    var blnStep1Done = false;
    var blnStep2Done = false;
    var blnStep3Done = false;
    var blnStep4Done = false;
    var blnStep5Done = false;
    var blnStep6Done = false;
    var blnStep7Done = false;
    var blnStep8Done = false;
    var blnStep9Done = false;
    var blnStep10Done = false;
    var blnStep11Done = false;
    var blnStep12Done = false;


    /* Summary - This is the function you call from the page with the Action Menu button to open the window */
    function openOptimizerWnd(recordCount) {
        if (recordCount > 200) { ngl.showErrMsg("Too Many Records", "Cannot Optimize more than 200 records. Add a filter to the grid to reduce the number of records.", null); return; }
        if (recordCount < 1) { ngl.showErrMsg("Records Required", "No data to Optimize", null); return; }
        //perform confirmation
        ngl.OkCancelConfirmation(
            "Run Optimizer",
            "Running the Optimizer will clear any Routing Guide settings if the load is not on Hold. Do you want to continue?", //RunningTheOptimizerWarningQuestion
            400,
            400,
            null,
            "ConfirmOpenOptimizerWnd");
    }

    /* Summary - Runs the Optimizer */
    function ConfirmOpenOptimizerWnd(iRet) {
        if (typeof (iRet) === 'undefined' || iRet === null || iRet === 0) { return; } //Chose the Cancel action
        //Chose the Ok action
        //$("#divStep1").hide();
        //$("#divStep2").hide();
        //$("#divStep3").hide();
        //$("#divStep4").hide(); $("#prgStep4").hide();
        //$("#divStep5").hide();
        //$("#divStep6").hide(); $("#prgStep6").hide();
        //$("#divStep7").hide();
        //$("#divStep8").hide();
        //$("#divStep9").hide();
        //$("#divStep10").hide();
        //$("#divStep11").hide();
        //$("#divStep12").hide();
        wndOptimizer.center().open();
        var oCRUDCtrl = new nglRESTCRUDCtrl();
        var blnRet = oCRUDCtrl.read("LoadBoardOptimizer/RunOptimizer", 0, tPage, "runOptimizerSuccessCallback", "runOptimizerAjaxErrorCallback", true);
        blnOptIsRunning = true;
        setTimeout(getOptimizerStatus, 2000);

    }


    function runOptimizerSuccessCallback(data) {
        var blnSuccess = false;
        var blnErrorShown = false;
        var strValidationMsg = "";
        try {
            if (typeof (data) !== 'undefined' && ngl.isObject(data)) {
                if (ngl.stringHasValue(data.Errors)) { ngl.showErrMsg("Run Optimizer Failure", data.Errors, null); }
                else {
                    if (typeof (data.Data) !== 'undefined' && ngl.isArray(data.Data)) {
                        if (data.Data.length > 0 && typeof (data.Data[0]) !== 'undefined') {
                            blnSuccess = true;
                            blnOptIsRunning = false;
                            alert("Done!");
                            var oCRUDCtrl = new nglRESTCRUDCtrl();
                            var blnRet = oCRUDCtrl.delete("LoadBoardOptimizer/DeleteOptMsgByUser", 0, tPage, "deleteOptMsgSuccessCallback", "deleteOptMsgAjaxErrorCallback", true);
                        }
                    }
                }
            }
            if (blnSuccess === false && blnErrorShown === false) {
                if (strValidationMsg.length < 1) { strValidationMsg = "Run Optimizer Failure"; }
                ngl.showErrMsg("Run Optimizer Failure", strValidationMsg, null);
            }
        } catch (err) { oResults.error = err; ngl.showErrMsg(err.name, err.description, null); }
    }
    function runOptimizerAjaxErrorCallback(xhr, textStatus, error) {
        ngl.showErrMsg("Run Optimizer Failure", formatAjaxJSONResponsMsgs(xhr, textStatus, error, 'Failed'), null);
    }

    function deleteOptMsgSuccessCallback(data) {
        var blnSuccess = false;
        var blnErrorShown = false;
        var strValidationMsg = "";
        try {
            if (typeof (data) !== 'undefined' && ngl.isObject(data)) {
                if (ngl.stringHasValue(data.Errors)) { ngl.showErrMsg("Delete Optimizer Status Msgs Failure", data.Errors, null); }
                else {
                    if (typeof (data.Data) !== 'undefined' && ngl.isArray(data.Data)) {
                        if (data.Data.length > 0 && typeof (data.Data[0]) !== 'undefined') { blnSuccess = true; }
                    }
                }
            }
            if (blnSuccess === false && blnErrorShown === false) {
                if (strValidationMsg.length < 1) { strValidationMsg = "Delete Optimizer Status Msgs Failure"; }
                ngl.showErrMsg("Delete Optimizer Status Msgs Failure", strValidationMsg, null);
            }
        } catch (err) { oResults.error = err; ngl.showErrMsg(err.name, err.description, null); }
    }
    function deleteOptMsgAjaxErrorCallback(xhr, textStatus, error) {
        ngl.showErrMsg("Delete Optimizer Status Msgs Failure", formatAjaxJSONResponsMsgs(xhr, textStatus, error, 'Failed'), null);
    }



    function refreshCreditLimitsGrid() { ngl.readDataSource($('#CreditLimitsGrid').data('kendoGrid')); }


    function getOptimizerStatusSuccessCallback(data) {
        try {
            var blnSuccess = false;
            var blnErrorShown = false;
            var strValidationMsg = "";
            if (typeof (data) != 'undefined' && ngl.isObject(data)) {
                if (ngl.stringHasValue(data.Errors)) { blnErrorShown = true; ngl.showErrMsg("Get Optimizer Status Failure", data.Errors, null); }
                else {
                    if (typeof (data.Data) != 'undefined' && ngl.isArray(data.Data)) {
                        if (data.Data.length > 0 && typeof (data.Data[0]) != 'undefined' && ngl.isObject(data.Data[0])) {
                            blnSuccess = true;
                            var res = data.Data[0];
                            //Private _StepNumber As Integer
                            //Private _StepProgress As Integer
                            //Private _StepComplete As Boolean
                            //Private _StepMessage As String
                            //Private _StepSubMessage As String


                            //var blnStep6Done = false;
                            //var blnStep7Done = false;
                            //var blnStep8Done = false;
                            //var blnStep9Done = false;
                            //var blnStep10Done = false;
                            //var blnStep11Done = false;
                            //var blnStep12Done = false;

                            if (blnStep1Done === false) {
                                if (typeof (res.Step1) != 'undefined' && res.Step1 != null && ngl.isObject(res.Step1)) {
                                    if (res.Step1.StepComplete) {
                                        var s1 = "<p><b>" + res.Step1.StepMessage + " </b><span class='k-icon k-i-check-circle' style='color:green;'></span></p>";
                                        $("#divStep1").html(s1);
                                        //$("#divStep1").show();
                                        blnStep1Done = true;
                                    }
                                }
                            }

                            if (blnStep2Done === false) {
                                if (typeof (res.Step2) != 'undefined' && res.Step2 != null && ngl.isObject(res.Step2)) {
                                    if (res.Step2.StepComplete) {
                                        var s2 = "<p><b>" + res.Step2.StepMessage + " </b><span class='k-icon k-i-check-circle' style='color:green;'></span></p>";
                                        $("#divStep2").html(s2);
                                        //$("#divStep2").show();
                                        blnStep2Done = true;
                                    }
                                }
                            }

                            if (blnStep3Done === false) {
                                if (typeof (res.Step3) != 'undefined' && res.Step3 != null && ngl.isObject(res.Step3)) {
                                    if (res.Step3.StepComplete) {
                                        var s3 = "<p><b>" + res.Step3.StepMessage + " </b><span class='k-icon k-i-check-circle' style='color:green;'></span></p>";
                                        $("#divStep3").html(s3);
                                        //$("#divStep3").show();
                                        blnStep3Done = true;
                                    }
                                }
                            }

                            if (blnStep4Done === false) {
                                if (typeof (res.Step4) != 'undefined' && res.Step4 != null && ngl.isObject(res.Step4)) {
                                    //$("#divStep4").show();
                                    if (res.Step4.StepComplete === false) {
                                        //$("#prgStep4").show();
                                        $("#s4Hdr").html("<b>" + res.Step4.StepMessage + "</b>");
                                        $("#s4Sub").html(res.Step4.StepSubMessage);

                                        console.log("S4 Complete: " + res.Step4.StepComplete + " S4 Progress: " + res.Step4.StepProgress + " S4 Hdr: " + res.Step4.StepMessage + " S4 Sub: " + res.Step4.StepSubMessage);

                                        //$("#prgStep4").data("kendoProgressBar").value(res.Step4.StepProgress);
                                    } else {
                                        var s4Hdr = "<b>" + res.Step4.StepMessage + " </b><span class='k-icon k-i-check-circle' style='color:green;'></span>";
                                        $("#s4Hdr").html(s4Hdr);
                                        //$("#s4Sub").hide();
                                        //$("#prgStep4").hide();
                                        blnStep4Done = true;
                                    }
                                }

                            }

                            if (blnStep5Done === false) {
                                if (typeof (res.Step5) != 'undefined' && res.Step5 != null && ngl.isObject(res.Step5)) {
                                    if (res.Step5.StepComplete) {
                                        var s5 = "<p><b>" + res.Step5.StepMessage + " </b><span class='k-icon k-i-check-circle' style='color:green;'></span></p>";
                                        $("#divStep5").html(s5);
                                        //$("#divStep5").show();
                                        blnStep5Done = true;
                                    }
                                }
                            }

                            if (blnStep6Done === false) {
                                if (typeof (res.Step6) != 'undefined' && res.Step6 != null && ngl.isObject(res.Step6)) {
                                    //$("#divStep6").show();
                                    if (res.Step6.StepComplete === false) {
                                        //$("#prgStep6").show();
                                        $("#s6Hdr").html("<b>" + res.Step6.StepMessage + "</b>");
                                        $("#s6Sub").html(res.Step6.StepSubMessage);

                                        //ngl.showErrMsg("Sub Message 6", res.Step6.StepSubMessage, null);
                                        console.log("S6 Complete: " + res.Step6.StepComplete + " S6 Progress: " + res.Step6.StepProgress + " S6 Hdr: " + res.Step6.StepMessage + " S6 Sub: " + res.Step6.StepSubMessage);

                                        //$("#prgStep6").data("kendoProgressBar").value(res.Step6.StepProgress);
                                    } else {
                                        var s6Hdr = "<b>" + res.Step6.StepMessage + " </b><span class='k-icon k-i-check-circle' style='color:green;'></span>";
                                        $("#s6Hdr").html(s6Hdr);
                                        //$("#s6Sub").hide();
                                        //$("#prgStep6").hide();
                                        blnStep6Done = true;
                                    }
                                }
                            }


                        }
                    }
                }
            }
            if (blnSuccess === false && blnErrorShown === false) {
                if (strValidationMsg.length < 1) { strValidationMsg = "Get Optimizer Status Failure"; }
                ngl.showErrMsg("Get Optimizer Status Failure", strValidationMsg, null);
            }
        } catch (err) { ngl.showErrMsg(err.name, err.description, null); }
    }
    function getOptimizerStatusAjaxErrorCallback(xhr, textStatus, error) {
        ngl.showErrMsg("Get Optimizer Status Failure", formatAjaxJSONResponsMsgs(xhr, textStatus, error, 'Failed'), null);
    }

    //var intGetMsg = 1;
    function getOptimizerStatus() {
        //ngl.showErrMsg("Get Messages", intGetMsg, null);
        //intGetMsg += 1;

        var oCRUDCtrl = new nglRESTCRUDCtrl();
        var blnRet = oCRUDCtrl.read("LoadBoardOptimizer/GetOptimizerMessages", 0, tPage, "getOptimizerStatusSuccessCallback", "getOptimizerStatusAjaxErrorCallback", true);
        //$.ajax({
        //    async: true,
        //    type: "GET",
        //    url: "api/Alert/Get365AlertMessagesForUser",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: 'json',
        //    headers: { "Authorization": localStorage.NGLvar1454, "USC": localStorage.NGLvar1452 },
        //    success: function (data) {
        //        try {
        //            var blnSuccess = false;
        //            var blnErrorShown = false;
        //            var strValidationMsg = "";
        //            if (typeof (data) != 'undefined' && ngl.isObject(data)) {
        //                if (typeof (data.Errors) != 'undefined' && data.Errors != null && data.Errors.length > 0) {
        //                    blnErrorShown = true;
        //                    ngl.showErrMsg("Get Alerts Failure", data.Errors, null);
        //                }
        //                else {
        //                    if (typeof (data.Data) != 'undefined' && ngl.isArray(data.Data)) {
        //                        blnSuccess = true;
        //                        if (data.Data.length > 0 && typeof (data.Data[0]) != 'undefined' && ngl.isObject(data.Data[0])) {
        //                            $.each(data.Data, function (i, an) {
        //                                ngl.showAlertNotification(an.Title, an.Msg, null);
        //                            });
        //                        }
        //                    }
        //                }
        //            }
        //            if (blnSuccess === false && blnErrorShown === false) {
        //                if (strValidationMsg.length < 1) { strValidationMsg = "Get Alerts Failure"; }
        //                ngl.showErrMsg("Get Alerts Failure", strValidationMsg, null);
        //            }
        //        } catch (err) { ngl.showErrMsg(err.name, err.description, null); }
        //    },
        //    error: function (xhr, textStatus, error) { var sMsg = formatAjaxJSONResponsMsgs(xhr, textStatus, error, "Get Data Failure"); ngl.showErrMsg("Get Alerts Failure", sMsg, null); }
        //});
        if (blnOptIsRunning) { setTimeout(getOptimizerStatus, 2000); }
    }



    $(document).ready(function () {

        //$("#prgStep4").kendoProgressBar({ type: "chunk", chunkCount: 4, min: 0, max: 5, value: 0 }).data("kendoProgressBar");
        //$("#prgStep6").kendoProgressBar({ type: "chunk", chunkCount: 4, min: 0, max: 5, value: 0 }).data("kendoProgressBar");

        //initialize the window UI configuration
        //$("#divStep1").hide();
        //$("#divStep2").hide();
        //$("#divStep3").hide();
        //$("#divStep4").hide(); $("#prgStep4").hide();
        //$("#divStep5").hide();
        //$("#divStep6").hide(); $("#prgStep6").hide();
        $("#divStep7").hide();
        $("#divStep8").hide();
        $("#divStep9").hide();
        $("#divStep10").hide();
        $("#divStep11").hide();
        $("#divStep12").hide();


        wndOptimizer = $("#wndOptimizer").kendoWindow({
            title: "Run Optimizer",
            width: "80%",
            actions: ["save", "Minimize", "Maximize", "Close"],
            modal: true,
            visible: false,
            close: function (e) {
                //$("#divStep1").hide();
                //$("#divStep2").hide();
                //$("#divStep3").hide();
                //$("#divStep4").hide(); $("#prgStep4").hide();
                //$("#divStep5").hide();
                //$("#divStep6").hide(); $("#prgStep6").hide();
                //$("#divStep7").hide();
                //$("#divStep8").hide();
                //$("#divStep9").hide();
                //$("#divStep10").hide();
                //$("#divStep11").hide();
                //$("#divStep12").hide();
                blnStep1Done = false;
                blnStep2Done = false;
                blnStep3Done = false;
                blnStep4Done = false;
                blnStep5Done = false;
                blnStep6Done = false;
                blnStep7Done = false;
                blnStep8Done = false;
                blnStep9Done = false;
                blnStep10Done = false;
                blnStep11Done = false;
                blnStep12Done = false;
            }
        }).data("kendoWindow");
        //$("#wndOptimizer").data("kendoWindow").wrapper.find(".k-svg-i-save").parent().click(function (e) { var otmp = $("#focusCancel").focus(); BatchSaveCreditLimits(false); }); //Perform the save and only the save



        //GET STATUS UPDATES
        //setTimeout(getOptimizerStatus, 1000);
    });



</script>