<!--Added By SRP on 2/26/18 SegmentAddExample -->
<div id="wndAddSegment">
    <a id="focusCancel" href="#"></a>
    <div>
        <div id="EditDiv" style="padding: 0px 10px 10px 10px;">

            <input id="txtSegmentControl" type="hidden" />

            <div style="float: left;">

                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Segment Name</td>
                            <input id="txtSegmentcreatuser" maxlength="50" type="hidden" />
                            <input id="txtSegmentcreatedate" maxlength="50" type="hidden" />
                            <input id="txtSegmentupdate" maxlength="50" type="hidden" />
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <input id="txtSegmentName" maxlength="50" style="width:200px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">

                                <span id="name-validation" class="hide-display" style="color: red;position: relative;bottom: 5px;">Segment Name Can't be empty</span>
                            </td>
                        </tr>
                    </table>
                </div>



                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Segment Description</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top"><textarea id="txtSegmentDesc" rows="6" cols="20" maxlength="255" style="width: 200px;resize:none"></textarea></td>
                        </tr>
                    </table>
                </div>

                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Minimum Length</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <input id="txtSegmentMinCount" type="number" min="1" step="1"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="width:200px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <span id="min-validation" class="hide-display" style="color: red;position: relative;bottom: 5px;">Minimum Length Can't be 0 (or) Empty</span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Maximum Length</td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <input id="txtSegmentMaxCount" type="number" min="1" step="1"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="width:200px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tblResponsive-top">
                                <span id="max-validation" class="hide-display" style="color: red;position: relative;bottom: 5px;">Maximum Length  Can't be 0 (or) Empty</span>
                                <span id="maxnew-validation" class="hide-display" style="color: red;position: relative;bottom: 5px;">Minimum Length should be less than Maximum Length</span>
                            </td>
                        </tr>
                    </table>
                </div>   
                
                <div>
                    <table class="tblResponsive">
                        <tr>
                            <td class="tblResponsive-top">Disabled</td><td class="tblResponsive-top">
    <input id="chksegmentupdate" type="checkbox"
           style="width:200px;" />
</td>
                        </tr>
                        
                    </table>
                </div>           
                
            </div>


            <div class="tblResponsive-wrap" style="float: none;">&nbsp;</div>


        </div>
    </div>
</div>