<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IntegrationAssembliesTesting.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <IntegrationAssembliesTesting.My.MySettings>
            <setting name="IntegrationAssembliesTesting_NGLCompanyObjectWebService_CompanyObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/CompanyObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLCarrierObjectWebService_CarrierObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/CarrierObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLHazmatObjectWebService_HazmatObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/HazmatObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLLaneObjectWebService_LaneObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/LaneObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLBookObjectWebService_BookObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/BookObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLPalletTypeObjectWebService_PalletTypeObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/PalletTypeObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLPayablesObjectWebService_PayablesObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/PayablesObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLScheduleObjectWebService_ScheduleObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/ScheduleObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLPickListObjectWebService_PickListObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/PickListObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_NGLAPExportObjectWebService_APExportObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/APExportObject.asmx</value>
            </setting>
            <setting name="IntegrationAssembliesTesting_DTMSERPIntegration_DTMSERPIntegration" serializeAs="String">
                <value>http://localhost:44320/WS/DTMSERPIntegration.asmx</value>
            </setting>
        </IntegrationAssembliesTesting.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
