<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
 
  </system.web>
<applicationSettings>
    <Ngl.FreightMaster.Integration.WebServices.My.MySettings>
      <setting name="DebugMode" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value >false</value>
      </setting>
	<setting name="AuthCode" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>WSPROD</value>
      </setting>
      <setting name="AdminEMail" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>TMSAdmins@juice4u.com</value>
      </setting>
      <setting name="GroupEMail" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>TMSAdmins@juice4u.com</value>
      </setting>
      <setting name="OrderNotification" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>TMSUsers@juice4u.com</value>
      </setting>
      <setting name="Retries" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>0</value>
      </setting>
      <setting name="ValidateOrderUniqueness" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="LogFile" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>E:\Data\Ngl.FreightMaster.Intergration.WebServicesTest.log</value>
      </setting>
      <setting name="Version" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>6.0</value>
      </setting>
      <setting name="EMailFrom" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>tms.juice4u.com</value>
      </setting>
      <setting name="WCFURL" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://CPFWCFPROD.juice4u.local</value>
      </setting>
      <setting name="WCFAuthCode" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>WCFPROD</value>
      </setting>
      <setting name="WCFTCPURL" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>net.tcp://CPFWCFPROD.juice4u.local:1808</value>
      </setting>
      <setting name="SmtpMailServer" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>mail.juice4u.com</value>
      </setting>
</Ngl.FreightMaster.Integration.WebServices.My.MySettings>
</applicationSettings>
</configuration>