<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DTMSTestWebServices.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DTMSTestWebServices.My.MySettings>
            <setting name="DTMSTestWebServices_NGLBookObjectWS_BookObject" serializeAs="String">
                <value>http://07dws.nextgeneration.com/BookObject.asmx</value>
            </setting>
            <setting name="DTMSTestWebServices_NGLLaneObjectWS_LaneObject" serializeAs="String">
                <value>http://07dws.nextgeneration.com/LaneObject.asmx</value>
            </setting>
            <setting name="DTMSTestWebServices_NGLCarrierObjectWS_CarrierObject" serializeAs="String">
                <value>http://07dws.nextgeneration.com/CarrierObject.asmx</value>
            </setting>
            <setting name="DTMSTestWebServices_NGLCompanyObjectWS_CompanyObject" serializeAs="String">
                <value>http://07dws.nextgeneration.com/CompanyObject.asmx</value>
            </setting>
            <setting name="DTMSTestWebServices_NGLAPExportObjectWS_APExportObject" serializeAs="String">
                <value>http://07dws.nextgeneration.com/APExportObject.asmx</value>
            </setting>
            <setting name="DTMSTestWebServices_NGLPayablesObjectWS_PayablesObject" serializeAs="String">
                <value>http://07dws.nextgeneration.com/PayablesObject.asmx</value>
            </setting>
            <setting name="DTMSTestWebServices_NGLPickListObjectWS_PickListObject" serializeAs="String">
                <value>http://07dws.nextgeneration.com/PickListObject.asmx</value>
            </setting>
            <setting name="DTMSTestWebServices_NGLDTMSERPIntegrationWS_DTMSERPIntegration" serializeAs="String">
                <value>http://07dws.nextgeneration.com/DTMSERPIntegration.asmx</value>
            </setting>
            <setting name="AuthCode" serializeAs="String">
                <value>NGLWSTEST</value>
            </setting>
        </DTMSTestWebServices.My.MySettings>
    </userSettings>
</configuration>
