<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NGL.FM.NAVIntegration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <NGL.FM.NAVIntegration.My.MySettings>
            <setting name="NGL_FM_NAVIntegration_NAVService_DynamicsTMSWebServices" serializeAs="String">
                <value>http://nglnav2018.ngl.local:7047/DynamicsNAV110/WS/CRONUS%20USA%252C%20Inc./Codeunit/DynamicsTMSWebServices</value>
            </setting>
            <setting name="NGL_FM_NAVIntegration_TMSIntegrationSettings_DTMSIntegration" serializeAs="String">
                <value>https://www.dynamicstms365.com/ws/DTMSIntegration.asmx</value>
            </setting>
            <setting name="NGL_FM_NAVIntegration_TMSIntegrationServices_DTMSERPIntegration" serializeAs="String">
                <value>https://www.dynamicstms365.com/ws/DTMSERPIntegration.asmx</value>
            </setting>
            <setting name="NGL_FM_NAVIntegration_NAV2016Services_DynamicsTMSWebServices" serializeAs="String">
                <value>http://nglnav2013r2.ngl.local:9147/DynamicsTMS90/WS/CRONUS%20USA%252C%20Inc./Codeunit/DynamicsTMSWebServices</value>
            </setting>
            <setting name="NGL_FM_NAVIntegration_king_dynamics_businesscentral_api_DynamicsTMSWebServices" serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v2.0/b2334402-9468-47b2-9cb9-eab5fe40066f/SANDBOX030321/WS/King%20Juice,%20Inc./Codeunit/DynamicsTMSWebServices?tenant=msft1a6720t01960071&amp;aid=FIN</value>
            </setting>
        </NGL.FM.NAVIntegration.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
