<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestNAVIntegrationCMDLine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <TestNAVIntegrationCMDLine.My.MySettings>
            <setting name="TestNAVIntegrationCMDLine_NAVService_DynamicsTMSWebServices" serializeAs="String">
                <value>http://nglnav2013r2.ngl.local:7557/DynamicsTMS704/WS/CRONUS%20USA%252C%20Inc./Codeunit/DynamicsTMSWebServices</value>
            </setting>
            <setting name="TestNAVIntegrationCMDLine_TMSIntegrationServices_DTMSERPIntegration" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/DTMSERPIntegration.asmx</value>
            </setting>
            <setting name="TestNAVIntegrationCMDLine_TMSIntegrationSettings_DTMSIntegration" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/DTMSIntegration.asmx</value>
            </setting>
            <setting name="TMSSettingsAuthCode" serializeAs="String">
                <value>WSPROD</value>
            </setting>
            <setting name="TMSRunLegalEntity" serializeAs="String">
                <value>TRACHTE-LIVE</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>TBS-TMSdB</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>NGLMASPROD</value>
            </setting>
        </TestNAVIntegrationCMDLine.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
