P.MsoTocHeading {FONT-SIZE: 16pt;  FONT-FAMILY: "Calibri Light",sans-serif;  PAGE-BREAK-AFTER: avoid;  COLOR: #2e74b5;  MARGIN: 12pt 0pt 0pt;  LINE-HEIGHT: normal; }

SPAN.Heading4Char {FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold; }

