P.MsoListParagraphCxSpMiddle {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal; }

P.MsoListParagraphCxSpFirst {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal; }

P.MsoListParagraphCxSpLast {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal; }

