h2.NumHeading2 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  COLOR: #006600;  MARGIN-LEFT: 39.7pt;  LINE-HEIGHT: 110%;  MARGIN-RIGHT: 0pt;  TEXT-INDENT: -39.7pt;  tab-stops: 36.0pt list 39.7pt; }

h1.NumHeading1 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-BEFORE: always;  COLOR: #006600;  TEXT-ALIGN: center;  MARGIN: 6pt 0pt 6pt 39.7pt;  LINE-HEIGHT: 110%;  TEXT-INDENT: -39.7pt;  tab-stops: 36.0pt list 39.7pt; }

P.NumHeading1 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-BEFORE: always;  COLOR: #006600;  TEXT-ALIGN: center;  MARGIN: 6pt 0pt 6pt 39.7pt;  LINE-HEIGHT: 110%;  TEXT-INDENT: -39.7pt;  tab-stops: 36.0pt list 39.7pt; }

P.NumHeading2 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  COLOR: #006600;  MARGIN-LEFT: 39.7pt;  LINE-HEIGHT: 110%;  MARGIN-RIGHT: 0pt;  TEXT-INDENT: -39.7pt;  tab-stops: 36.0pt list 39.7pt; }

