<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NGLPCMilerTestApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <NGLPCMilerTestApp.My.MySettings>
            <setting name="OrigAddress" serializeAs="String">
                <value>3001 East Main Street</value>
            </setting>
            <setting name="OrigCity" serializeAs="String">
                <value>Humboldt</value>
            </setting>
            <setting name="OrigState" serializeAs="String">
                <value>TN</value>
            </setting>
            <setting name="OrigZip" serializeAs="String">
                <value>38343</value>
            </setting>
            <setting name="DestAddress" serializeAs="String">
                <value>3003 SOUTH COUTRY CLUB ROAD</value>
            </setting>
            <setting name="DestCity" serializeAs="String">
                <value>TUCSON</value>
            </setting>
            <setting name="DestState" serializeAs="String">
                <value>AZ</value>
            </setting>
            <setting name="DestZip" serializeAs="String">
                <value>85713</value>
            </setting>
            <setting name="UseCom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Route_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dist_Type" serializeAs="String">
                <value>0</value>
            </setting>
        </NGLPCMilerTestApp.My.MySettings>
    </userSettings>
</configuration>
