<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BookObjectWSTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <BookObjectWSTest.My.MySettings>
            <setting name="BookObjectWSTest_BookObjectWS_BookObject" serializeAs="String">
                <value>http://nglwsdev70.nextgeneration.com/bookObject.asmx</value>
            </setting>
        </BookObjectWSTest.My.MySettings>
    </applicationSettings>
</configuration>
