<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DynamicsTMS365.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-DynamicsTMS365-20160811070520.mdf;Initial Catalog=aspnet-DynamicsTMS365-20160811070520;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--<add name="NGLMASPROD" connectionString="Server=MININT-1CJQH8R\SQL2014;User ID=nglweb;Password=5529;Database=NGLMASDEV7051" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=MININT-1CJQH8R\SQL2014;User ID=nglweb;Password=5529;Database=NGLMASSCHED" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB;User ID=nglweb;Password=5529;Database=NGLMASReily" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=RFDBPROD2;User ID=nglweb;Password=Jj5MnzpDukCbYHFx4s8ZE2TX;Database=NGLMASPROD" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB;User ID=nglweb;Password=5529;Database=NGLMASIngomar" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=NGLRDP07D;User ID=nglweb;Password=5529;Database=NGLMASPROD" providerName="System.Data.SqlClient"/>-->
		<!--<add name="NGLMASPROD" connectionString="Server=172.16.151.56;User ID=nglweb;Password=5529;Database=NGLMASDEV" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=NGLRDP08D;User ID=nglweb;Password=5529;Database=NGLMASPROD" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=10.100.100.10;User ID=ngldmz;Password=NGL2017$;Database=NGLMAS365" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=10.6.3.21;User ID=nglweb;Password=NGLweb2023$;Database=NGLMASPROD" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=NGLDEMOLAPTOP2;User ID=nglweb;Password=5529;Database=NGLMASPROD" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB;User ID=nglweb;Password=5529;Database=NGLMASProd" providerName="System.Data.SqlClient"/>-->

		<!--<add name="NGLMASPROD" connectionString="Server=TX-00155L-NB\MSSQLSERVER01;User ID=nglweb;Password=nashit2024!;Database=NGLMASProd" providerName="System.Data.SqlClient"/>-->
		<add name="NGLMASPROD" connectionString="Server=SAGAR-PC;User ID=sa;Password=123;Database=NGLTMSPROD" providerName="System.Data.SqlClient"/>
		<!--<add name="NGLMASPROD" connectionString="Server=10.10.1.253,1433;User ID=sa;Password=Mx123@;Database=NGLTMSPROD" providerName="System.Data.SqlClient"/>-->

		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB;User ID=nglweb;Password=5529;Database=NGLMAS2002" providerName="System.Data.SqlClient"/>-->
		<!--<add name="NGLMASPROD" connectionString="Server=nglsql03p;User ID=nglweb;Password=5529;Database=NGLMASD365" providerName="System.Data.SqlClient"/>-->
		<!--<add name="NGLMASPROD" connectionString="Server=nglsql03p;User ID=nglweb;Password=5529;Database=NGLMASPROD" providerName="System.Data.SqlClient" />-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB\SQLEXPRESS01;User ID=nglweb;Password=5529;Database=NGLMASD365" providerName="System.Data.SqlClient"/>-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB\SQL2022;User ID=nglweb;Password=5529;Database=NGLMASAppvion" providerName="System.Data.SqlClient"/>-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB\SQL2022;User ID=nglweb;Password=5529;Database=NGLMASRecoTrain" providerName="System.Data.SqlClient"/>-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB\SQLEXPRESS01;User ID=nglweb;Password=5529;Database=NGLMASGSF" providerName="System.Data.SqlClient"/>-->
		<!--<add name="NGLMASPROD" connectionString="Server=DESKTOP-0R0EJUB;User ID=nglweb;Password=5529;Database=NGLMASProd" providerName="System.Data.SqlClient"/>-->

	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<hostingEnvironment shadowCopyBinAssemblies="false" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
		</httpHandlers>
		<authentication mode="None"/>
		<compilation debug="true" targetFramework="4.8">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
			</buildProviders>
			<assemblies>
				<!--<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5"/>
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization"/>
				<add namespace="Microsoft.AspNet.Identity"/>
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
			</controls>
		</pages>
		<membership>
			<providers>
				<!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear/>
			</providers>
		</membership>
		<profile>
			<providers>
				<!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear/>
			</providers>
		</profile>
		<roleManager>
			<!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
			<providers>
				<clear/>
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication"/>
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ngl.FreightMaster.Data" publicKeyToken="39c8a788a282ceb2" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.5.0.1" newVersion="8.5.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NGL.FM.BLL" publicKeyToken="2139ac5e1874413d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.5.0.1" newVersion="8.5.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SerilogTracing" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.9.9.9" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<appSettings>
		<add key="webpages:TMSVersion" value="8.5.4.005"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="webpages:LastModified" value="02/10/2024"/>
		<!--LVV Note: I just put in 6/4/2019 as a placeholder because that is when I created this key. Idk when it was actually last modified-->
		<add key="WebBaseURI" value="http://localhost:44320/"/>
		<!--<add key="WebBaseURI" value="http://localhost:44320/" />-->
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<!--Note: these p44 Web Service Settings are used as default settings.  
                the actual configuration is stored in tblSingleSignOnAccount 
                and tblSSOASecurityXref
                Each users must be assigned a username, password and reference ID
                typically the same username and password are shared by all users
                but the system supports seperate values
                in the future we should migrate the p44 API setting to 
                Use the new API config logic and tables.
                This will be required when we add more end points like
                Truck Load etc.../>-->
		<add key="P44WebServiceLogin" value="rramsey@nextgeneration.com"/>
		<add key="P44WebServicePassword" value="NGL2016!"/>
		<add key="P44WebServiceUrl" value="https://na12.api.sandbox.p-44.com"/>
		<!-- <add key="P44WebServiceUrl" value="https://cloud.p-44.com" /> -->
		<!--<add key="DBServer" value="172.16.151.56" />
    <add key="Database" value="NGLMASDEV" />-->
		<!--<add key="DBServer" value="10.100.100.10" />
    <add key="Database" value="NGLMAS365" />    
     <add key="DBUser" value="ngldmz" />
    <add key="DBPassword" value="NGL2017$" />-->
		<!--<add key="DBServer" value="NGLRDP08D" />
    <add key="Database" value="NGLMASPROD" />-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB" />
      <add key="Database" value="NGLMASIngomar" />-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB" />  
    <add key="Database" value="NGLMASReily" />-->
		<!--<add key="DBServer" value="RFDBPROD2" />  
    <add key="Database" value="NGLMASPROD" />-->
		<!--<add key="DBServer" value="nglsql03p"/>
    <add key="Database" value="NGLMASD365"/>-->
		<!--<add key="DBServer" value="nglsql03p" />
    <add key="Database" value="NGLMASPROD" />-->
		<!--<add key="DBServer" value="MININT-1CJQH8R\SQL2014" />      
    <add key="Database" value="NGLMASDEV7051" />-->
		<!--<add key="Database" value="NGLMASSCHED" />-->
		<!--<add key="DBServer" value="TX-00155L-NB\MSSQLSERVER01"/>
    <add key="Database" value="NGLMASProd"/>-->
		<!--<add key="DBServer" value="10.6.3.21" />
    <add key="Database" value="NGLMASPROD" />
    <add key="DBUser" value="nglweb"/>
    <add key="DBPassword" value="NGLweb2023$"/>-->
		<!--<add key="DBServer" value="NGLRDP07D" />
    <add key="Database" value="NGLMASPROD" />-->
		<!--<add key="DBServer" value="NGLDEMOLAPTOP2" />
    <add key="Database" value="NGLMASPROD" />-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB"/>
    <add key="Database" value="NGLMASPROD"/>-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB"/>
      <add key="Database" value="NGLMAS2002"/>-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB\SQL2022" />  
    <add key="Database" value="NGLMASRecoTrain" />-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB\SQL2022" />  
    <add key="Database" value="NGLMASAppvion" />-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB\SQLEXPRESS01" />
      <add key="Database" value="NGLMASGSF" />-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB\SQLEXPRESS01" />
      <add key="Database" value="NGLMASD365" />-->
		<!--<add key="DBServer" value="DESKTOP-0R0EJUB"/>
    <add key="Database" value="NGLMASProd"/>-->
		<!--<add key="DBUser" value="nglweb"/>
    <add key="DBPassword" value="5529"/>-->

		<!--Commented on 25-09-2025-->
		<!--<add key="DBUser" value="nglweb" />
		<add key="DBPassword" value="nashit2024!" />
		<add key="DBServer" value="TX-00155L-NB\MSSQLSERVER01" />
		<add key="Database" value="NGLMASPROD" />-->

		<!--Rakib: 16/10/2025-->
		<!--Verify Email Config Start-->
		<add key="IsEmailVerificationEnable" value="False"/>
		<!--True/False-->
		
		<!--<add key="SMTP_Email" value="maxpelegrino@nextgeneration.com"/>-->
		<add key="SMTP_Email" value="NGLOperations@nextgeneration.com"/>
		<!--<add key="SMTP_Password" value="qmpk pybq ksfc hshd" />
		<add key="SMTP_Domain" value="smtp.gmail.com" />
		<add key="SMTP_Port" value="587" />-->
		<!--Verify Email Config End-->

		<add key="DBUser" value="sa"/>
		<add key="DBPassword" value="123"/>
		<add key="DBServer" value="SAGARPC"/>
		<add key="Database" value="NGLTMSPROD"/>

		<!--<add key="DBPassword" value="Jj5MnzpDukCbYHFx4s8ZE2TX" />-->
		<add key="WebDocsURL" value="http://localhost:44320/"/>
		<!--<add key="idaClientId" value="ab8def6a-9066-4657-8118-dcb775e48a92" />-->
		<add key="idaClientId" value="7a6d49ef-446b-41b2-97ec-fc97ab7309f0"/>
		<add key="idaTenant" value="common"/>
		<!--<add key="idaInstance" value="https://login.microsoftonline.com/" />-->
		<add key="idaInstance" value="https://login.microsoftonline.com/common/"/>
		<add key="SSOADefaultName" value="DynamicsTMS365Dev"/>
		<add key="NGLTechSupportEmail" value="NGLTechnicalSupport@nextgeneration.com"/>
		<add key="NGLSalesEmail" value="NGLSales@nextgeneration.com"/>
		<add key="NGLSignUpEmailTo" value="laurenvanvleet@nextgeneration.com"/>
		<add key="MenuTreeExpiresMinutes" value="30"/>
		<add key="ResetPasswordEmailSubject" value="NEXTrack Password Reset"/>
		<add key="ResetPasswordEmailBody" value="This email was sent to notify you that your NEXTrack password has been reset. [newline][newline] You can use this temporary password to log on to NEXTrack.  We highly recommend changing your password once you are logged on.  You can do this by clicking on the 'Settings' link (gear icon) at the top right of any page.[newline] If you have any questions, or need any assistance with NEXTrack, please do not hesitate to contact us at support@nextgeneration.com.[newline][newline] Your temporary password is "/>
		<add key="AccountRequestEmailSubject" value="NEXTrack Account Request"/>
		<add key="AccountRequestSendToEmail" value="developer@nextgeneration.com"/>
		<add key="SmtpFromAddress" value="DoNotReply@nextgeneration.com"/>
		<add key="ResetPasswordEmailAddress" value="DoNotReply@nextgeneration.com"/>
		<add key="IsAppSource" value="true"/>
		<!--Hide the WindowsAccount and FreeTrial buttons if this is not AppSource-->
		<add key="RequireAuthenticationOnAllPages" value="true"/>
		<!--This is an example of how these should be formatted-->
		<!--<add key="HomeTabLogo" value="../Content/NGL/calculator32.png"/> 
    <add key="HomeTabHrefURL" value="http://www.google.com"/>-->
		<add key="HomeTabLogo" value="../Content/NGL/nextracklogo.GIF"/>
		<add key="HomeTabHrefURL" value="http://www.nextgeneration.com"/>
		<!--Note: For Footer Content you have to use XML characters instead of HTML-->
		<!--This secure site exists to provide On-Line Rate Shopping information. If you experience problems with this site, call (847)963-0007 24/7 or email our support group at <a href='mailto: support@nextgeneration.com'>support@nextgeneration.com</a>-->
		<!--<add key="FooterContent" value=" &lt;a href='https://www.nextgeneration.com'&gt; © Copyright Next Generation Logistics, Inc. All Rights Reserved.&lt;/a&gt;" />-->

		<add key="FooterContent" value="© Copyright Next Generation Logistics, Inc. All Rights Reserved."/>
		<!--<add key="FooterContent" value="This secure site exists to provide On-Line Rate Shopping information. If you experience problems with this site, call (847)963-0007 24/7 or email our support group at &lt;a href='mailto: support@nextgeneration.com'&gt;support@nextgeneration.com&lt;/a&gt;"/>-->
		<add key="OrderSummaryDays" value="14"/>
		<!--This is the value to show number of days for week view charts in carrierScheduler Page-->
		<add key="AutoScrollMins" value="100"/>
		<!--This is the value to show number of minutes for auto scroll refresh in Scheduler Page-->
		<!-- SSRS Report Settings -->
		<add key="ReportsUrl" value="http://NGLRDP08D/ReportServer/ReportExecution2005.asmx"/>
		<add key="ReportsServerUrl" value="http://nglrdp08d/ReportServer/"/>
		<add key="ReportsStdPath" value="FMStdReports"/>
		<add key="ReportsCustomPath" value="FMCustomReports"/>
		<!-- Auto Run TMS Settings -->
		<add key="PageName" value="Install FreightMaster TMS"/>
		<add key="PageMsg" value="NGLWCFDEV7051 on NGLRDP06D"/>
		<add key="ClickMsg" value="Click Go to Launch FreightMaster TMS"/>
		<!--<add key="FMWCFAuthCode" value="WCFPROD" />-->
		<add key="FMWCFAuthCode" value="WCFTEST"/>
		<add key="FMWCFServiceURL" value="http://07DWCF.nextgeneration.com"/>
		<add key="FMWCFNETTCPServiceURL" value="net.tcp://07DWCF.nextgeneration.com:908"/>
		<add key="CARRIERBFCPATH" value="C:\\Program Files (x86)\\NGL\\FM BFC Tariff Engine\\EditBFC.exe"/>
		<add key="EXPORTDOCPATH" value="\\\\network sever path"/>
		<!--Added By LVV on 6/25/20 for v-8.2.1.008 Task #202006091213 - Add logic to D365 web config for help logo-->
		<add key="IsTest" value="true"/>
		<add key="HelpTestIcon" value="../Content/NGL/Help32Test.png"/>
		<add key="LogFile" value="C:\Data\Ngl.FreightMaster.Intergration.WebServicesTest.log"/>
		<add key="FMWSAuthCode" value="WSPROD"/>
		<!--Old AuthCode included for Backward compatibility we now use FMWSAuthCode This can be removed after v-8.5.1 -->
		<add key="FMAuthCode" value="WSPROD"/>
		<add key="ServerTimeZone" value="UTC"/>
	</appSettings>
</configuration>
