<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ngl.Core" publicKeyToken="64e6dd2f8ae4c669" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.5.4.1" newVersion="8.5.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NGL.FM.CHRAPI" publicKeyToken="6390865cdd974917" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.5.4.1" newVersion="8.5.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NGL.FM.P44" publicKeyToken="3d3a06cd23c00982" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.5.4.1" newVersion="8.5.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NGL.FM.UPSAPI" publicKeyToken="77c8e75c2f8cff78" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.5.4.1" newVersion="8.5.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NGL.FM.JTSAPI" publicKeyToken="a433dbbd786b6d01" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.5.4.1" newVersion="8.5.4.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
