<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NGL.FM.CMDLine.NAVIntegration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
        <NGL.FM.CMDLine.NAVIntegration.My.MySettings>
            <setting name="PicklistMaxRetry" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PicklistRetryMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PicklistMaxRowsReturned" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PicklistAutoConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APExportMaxRetry" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="APExportRetryMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="APExportMaxRowsReturned" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="APExportAutoConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NGL_FM_CMDLine_NAVIntegration_NAVService_DynamicsTMSWebServices" serializeAs="String">
                <value>http://nglnav2013r2.ngl.local:7147/DynamicsTMS71/WS/CRONUS%20USA,%20Inc./Codeunit/DynamicsTMSWebServices</value>
            </setting>
            <setting name="WSAuthCode" serializeAs="String">
                <value>NGLWSDEV</value>
            </setting>
            <setting name="WCFURL" serializeAs="String">
                <value>http://nglwcfdev.nextgeneration.com</value>
            </setting>
            <setting name="WCFAuthCode" serializeAs="String">
                <value>NGLWCFDEV</value>
            </setting>
            <setting name="WCFTCPURL" serializeAs="String">
                <value>net.tcp://nglwcfdev.nextgeneration.com:808</value>
            </setting>
        </NGL.FM.CMDLine.NAVIntegration.My.MySettings>
    </applicationSettings>
</configuration>
